<section class="relative w-full h-screen overflow-hidden">
  <!-- Background Image with zoom-out animation -->
  <div class="absolute inset-0 bg-[center_45%] bg-no-repeat bg-cover animate-zoom-loop"
    style="background-image: url('home.jpeg');"></div>

  <!-- Dim Overlay -->
  <div class="absolute inset-0 bg-black/60"></div>

  <!-- Text Content -->
  <div class="relative z-10 flex flex-col mt-[4rem] justify-center items-center h-full text-center text-white px-4">
    <!-- <h1 class="text-4xl md:text-6xl font-bold mb-4">Get <span class="text-9xl">20%</span>off </h1> -->
    <h1 class="text-4xl md:text-6xl font-bold mb-4">Empower your Barista Skills</h1>


    <p class="text-lg md:text-xl max-w-[600px]">
      Join our Effective Advance Barista Training at <span class="text-2xl italic">20%</span> off !
    </p>

    <div>
      <button class="bg-[#5A2B21] h-[2.25rem] mt-[1rem] px-[0.875rem] py-[0.5rem] cursor-pointer rounded-full">
        <p class="text-white text-sm font-medium">Learn More..</p>
      </button>
    </div>
  </div>
</section>
